[Unit]
Description=Wanli Startup Script
After=network.target

[Service]
Type=oneshot
ExecStart=bash -c /home/wanliz/wanliz_linux_workbench/startup.sh &
RemainAfterExit=no
User=wanliz

[Install]
WantedBy=multi-user.target